:root {
  --title-text-color: #212121;
  --btn-text-color: #212121;
  --action-text-color: #2196f3;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --background: #2f303a;
  --background-btn-color: #f5f4fa;
  --hero-text-color: #ffffff;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.btn {
  cursor: pointer;
}
/* --------HEADER-------- */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo-accent {
  color: var(--accent-color);
}
.logo-footer {
  color: #ffffff;
}
.nav-link,
.nav-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-contact {
  color: #757575;
}
.nav-link:hover,
.nav-link:focus,
.nav-contact:hover,
.nav-contact:focus {
  color: var(--action-text-color);
}
.current {
  color: var(--action-text-color);
}
/* --------BODY-HERO-------- */
.hero {
  background-color: var(--background);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
/* --------BODY-PLUSES-------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.pluses-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.pluses-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
}
/* --------BODY-WORK-------- */
.section-title {
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
}
/* --------BODY-TEAM-------- */
.team-section-background {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-text-color);
}
/* --------FOOTER-------- */
.address {
  font-style: normal;
}
.background {
  background-color: var(--background);
}

.address-text {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}
.address-contact {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.address-text:hover,
.address-text:focus,
.address-contact:hover,
.address-contact:focus {
  color: var(--action-text-color);
}
/* --------PRODUCTS-------- */
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--btn-text-color);
  background-color: var(--background-btn-color);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}
.card-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.card-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-color);
}
